*{
    margin: 0px;
    padding: 0px;
}

main{
    height: 100vh;
    h1{
        text-align: center;
        font-size: 3em;
        top: 80px;
        position: relative;
    }

    #userList{
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        table {
            width: 90%;
            border-collapse: collapse;
            margin-top: 20px;
        }
    
        table, th, td {
            border: 1px solid #ddd;
        }
    
        th, td {
            padding: 12px;
            text-align: left;
        }
    
        th {
            background-color: #f2f2f2;
            font-weight: bold;
        }
    
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
    
        tr:hover {
            background-color: #f1f1f1;
        }
    
        h2 {
            margin-bottom: 10px;
            font-family: Arial, sans-serif;
        }
    }


    .center{
            button{
                display: none;
            }
        }
        
    
}